Flujobase
[{"id":"bb69530a.7c154","type":"tab","label":"RecepcionDatos"},{"id":"2fd32791.8a1d88","type":"function","z":"bb69530a.7c154","name":"S1","func":"msg.titulo=\"Sensor 1\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/1\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"b555f569.f4c848","type":"template","z":"bb69530a.7c154","name":"Plantilla","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"deviceId\": \"5b4919a8e5cdcf0508350de6\",\n    \"key\": \"KReZAqr1LvbTQA/PUrXsx/pAfWMcx5hJi2Eh/M2uyqU=\",\n    \"protocol\": \"mqtt\",\n    \"data\": {\n        \"device_id\": \"5b4919a8e5cdcf0508350de6\",\n        \"app_id\": \"b2240a12-f5fa-47ef-893a-a7562d57de61\",\n        \"product_id\": \"5b3b8b35e5cdcf07248524d5\",\n        \"dateTime\": \"{{ dato }}\",\n        \"type\": \"7\",\n        \"name\": \"{{ titulo }}\",\n        \"value\": {{ dato2 }}\n    }\n}","x":480,"y":60,"wires":[["5c10dca6.e68fc4","eb657cb8.00ed9"]]},{"id":"5883560c.fb8408","type":"azureiothub","z":"bb69530a.7c154","name":"Azure IoT Hub","protocol":"mqtt","x":640,"y":160,"wires":[["dbb4d372.c4395"]]},{"id":"dbb4d372.c4395","type":"function","z":"bb69530a.7c154","name":"Convert Bytes to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":247,"wires":[["eb657cb8.00ed9"]]},{"id":"eb657cb8.00ed9","type":"debug","z":"bb69530a.7c154","name":"","active":true,"console":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"5c10dca6.e68fc4","type":"json","z":"bb69530a.7c154","name":"","x":630,"y":60,"wires":[["5883560c.fb8408","eb657cb8.00ed9"]]},{"id":"3dd28c5d.cab094","type":"function","z":"bb69530a.7c154","name":"","func":"if(msg.dato2>14.5){\n    var n = msg.dato2\n    n=parseFloat(n)\n    n=n.toFixed(2);\nmsg.payload=\"Amenaza \"+ msg.titulo+\" tiene \"+ n+\" grados\"\nreturn msg;\n}","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["c6c024c1.8fd888"]]},{"id":"f07da9d5.77ab68","type":"function","z":"bb69530a.7c154","name":"S2","func":"msg.titulo=\"Sensor 2\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/2\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"ee6d2284.5b731","type":"function","z":"bb69530a.7c154","name":"S3","func":"msg.titulo=\"Sensor 3\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/3\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"6d297f9.e641b8","type":"function","z":"bb69530a.7c154","name":"S4","func":"msg.titulo=\"Sensor 4\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/4\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"291755dc.54704a","type":"function","z":"bb69530a.7c154","name":"S5","func":"msg.titulo=\"Sensor 5\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/5\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"f713836d.43689","type":"function","z":"bb69530a.7c154","name":"S6","func":"msg.titulo=\"Sensor 6\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/6\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"d58d921a.54ed2","type":"function","z":"bb69530a.7c154","name":"S7","func":"msg.titulo=\"Sensor 7\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/7\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"310b82a1.0c0ebe","type":"function","z":"bb69530a.7c154","name":"S8","func":"msg.titulo=\"Sensor 8\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/8\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"ea6d411f.4889e","type":"function","z":"bb69530a.7c154","name":"S9","func":"msg.titulo=\"Sensor 9\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/9\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"5f695956.351708","type":"function","z":"bb69530a.7c154","name":"S10","func":"msg.titulo=\"Sensor 10\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/10\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"acc56dd.03f539","type":"function","z":"bb69530a.7c154","name":"S11","func":"msg.titulo=\"Sensor 11\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/11\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"51172091.a0439","type":"function","z":"bb69530a.7c154","name":"S12","func":"msg.titulo=\"Sensor 12\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/12\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"2e36432e.72b05c","type":"function","z":"bb69530a.7c154","name":"S13","func":"msg.titulo=\"Sensor 13\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/13\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"454214a8.64395c","type":"function","z":"bb69530a.7c154","name":"S14","func":"msg.titulo=\"Sensor 14\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/14\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":620,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"6bae1832.384ef8","type":"function","z":"bb69530a.7c154","name":"S15","func":"msg.titulo=\"Sensor 15\"\nmsg.dato2=msg.payload\nvar now = new Date(); // Fri Feb 20 2015 19:29:31 GMT+0530 (India Standard Time)\ndato=new Date(now.getTime() ).toISOString();\nmsg.dato=dato\nif (msg.topic==\"/sensor/15\"){\nreturn msg\n}","outputs":1,"noerr":0,"x":290,"y":660,"wires":[["b555f569.f4c848","3dd28c5d.cab094"]]},{"id":"c6c024c1.8fd888","type":"debug","z":"bb69530a.7c154","name":"","active":true,"console":false,"complete":"false","x":670,"y":620,"wires":[]},{"id":"e72b991f.7730e8","type":"function","z":"bb69530a.7c154","name":"","func":"var count = context.get('count')||0;\nvar topicos = [\"/sensor/1\",\n            \"/sensor/2\",\n            \"/sensor/3\",\n            \"/sensor/4\",\n            \"/sensor/5\",\n            \"/sensor/6\",\n            \"/sensor/7\",\n            \"/sensor/8\",\n            \"/sensor/9\",\n            \"/sensor/10\",\n            \"/sensor/11\",\n            \"/sensor/12\",\n            \"/sensor/13\",\n            \"/sensor/14\",\n            \"/sensor/15\",\n            \"/sensor/16\",\n            \"/sensor/17\",\n            \"/sensor/18\",\n            \"/sensor/19\",\n            \"/sensor/20\",\n];\nvar temperatura=Math.random()*10\nvar base=5\n\nmsg.payload=base+temperatura\nmsg.topic=topicos[count]\ncount += 1;\nif(count==20){\n    count=0\n}\n// store the value back\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":678,"y":506,"wires":[[]]},{"id":"de177283.452df","type":"inject","z":"bb69530a.7c154","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":542,"y":506,"wires":[["e72b991f.7730e8"]]},{"id":"e1106e32.556a1","type":"function","z":"bb69530a.7c154","name":"","func":"var count = context.get('count')||0;\nvar topicos = [\"/sensor/1\",\n            \"/sensor/2\",\n            \"/sensor/3\",\n            \"/sensor/4\",\n            \"/sensor/5\",\n            \"/sensor/6\",\n            \"/sensor/7\",\n            \"/sensor/8\",\n            \n];\nvar temperatura=Math.random()*30\nvar base=10\nvar resultado=base+temperatura\nmsg.payload=resultado.toFixed(2);\n\nmsg.topic=topicos[count]\ncount += 1;\nif(count==20){\n    count=0\n}\n// store the value back\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":29,"wires":[["2fd32791.8a1d88","f07da9d5.77ab68","ee6d2284.5b731","6d297f9.e641b8","291755dc.54704a","f713836d.43689","d58d921a.54ed2","310b82a1.0c0ebe","ea6d411f.4889e","5f695956.351708","acc56dd.03f539","51172091.a0439","2e36432e.72b05c","454214a8.64395c","6bae1832.384ef8"]]},{"id":"25726d3f.9164f2","type":"inject","z":"bb69530a.7c154","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":97,"y":139,"wires":[["e1106e32.556a1"]]}]
